<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>权限认证管理平台</title>
    <link rel="stylesheet" th:href="@{/js/layui/css/layui.css}">

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">权限认证管理平台</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    jxy
                </a>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <!--<li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">管理员</a></dd>
                        <dd><a href="javascript:;">普通用户</a></dd>
                    </dl>
                </li>-->
<!--
                <li class="layui-nav-item" ><a th:href="@{action/userMge}" target="contentFrame">用户管理</a></li>
-->
                <li class="layui-nav-item" ><a th:href="@{action/userMge}" target="contentFrame">用户管理</a></li>
                <li class="layui-nav-item" ><a href="" target="contentFrame">角色管理</a></li>
                <li class="layui-nav-item"><a href="">权限管理</a></li>
                <li class="layui-nav-item"><a href="">角色权限</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
       <div class="layui-tab-item layui-show">
            <iframe id="contentFrame" name="contentFrame"  class='layui-col-xs12' th:src="@{/action/content}"></iframe>
        </div>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        ©lookk.cn - 版权所有jiaoxiangyu
    </div>
</div>
<script th:src="@{/js/layui/layui.js}"></script>
<script>
    layui.use(['element','jquery'], function() {
        var element = layui.element;
        var $ = jQuery = layui.jquery;
        
        FrameWH();

        function FrameWH() {
            var h = $(window).height()-104;
            $("iframe").css("height",h+"px");
        }

        $(window).resize(function () {
            FrameWH();
        });

    });
</script>
</body>
</html>