<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lookk.powerauth.dao.PrivilegeMapper">

    <insert id="add" parameterType="cn.lookk.powerauth.po.Privilege">
        insert  into  tb_privilege (name, url, description)
        values (#{name}, #{url},#{description})
    </insert>

    <update id="update" parameterType="cn.lookk.powerauth.po.Privilege">
       update tb_privilege set name = #{name}, url=#{url},description=#{description} where id=#{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from tb_privilege where id=#{id} limit 1;
    </delete>

    <resultMap type="cn.lookk.powerauth.po.Privilege" id="privilegeMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="url" column="url"/>
        <result property="description" column="description"/>
    </resultMap>

    <select id="findOneById" resultType="cn.lookk.powerauth.po.Privilege">
        select * from  tb_privilege where id=#{id}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from tb_privilege
    </select>

    <select id="countBySearch" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(*) from tb_privilege where name=#{search}
    </select>

    <select id="findAll" resultMap="privilegeMap">
        select * from tb_privilege
    </select>

    <select id="findByIds" resultMap="privilegeMap" parameterType="java.util.List">
        select * from tb_privilege where id in
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>

    </select>

    <select id="find" resultMap="privilegeMap">
        select * from tb_privilege limit #{start}, #{limit}
    </select>

    <select id="findBySearch" resultMap="privilegeMap">
        select * from tb_privilege
        where name like CONCAT(#{search, jdbcType=VARCHAR},'%')
        order by id desc
        limit #{start}, #{limit}
    </select>


</mapper>